
html, body {
    --color-picked: #32ff7e;
    --color-available: #FFFFFF;
    --color-not-available: #ff4d4d;
    --color-other-month: #ffcccc;
}


#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.calendar .calender-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.calendar .calender-header button {
    cursor: pointer;
}

.calendar .calender-header .month-name {
    font-size: 1.4em;
    font-weight: bold;
}

.calendar .day-content {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.calendar .day-content:not(.available) {
    cursor: not-allowed;
    /* Credits: http://css3pie.com/demos/gradient-patterns/ */
    background-color: var(--color-not-available);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
}

.calendar .day-content.available {
    --height: .2rem;
    position: relative;
    top: calc(-1 * var(--height));
    box-shadow: 0 var(--height) .2rem gray;
    background-color: var(--color-available);
}

.calendar .day-content.picked {
    --height: .2rem;
    background-color: var(--color-picked);
    box-shadow: 0 var(--height) .2rem var(--color-picked);
}

.calendar .day-content.other-month {
    background-color: var(--color-other-month);
}